<% contacts.each do |contact| %>
  <% if contact.source == 'member' %>
    <div class="row group-chat-box justify-content-end">
      <div class="group-chat-content-owner">
        <%= contact.created_at.strftime('%Y/%m/%d') %>
        <p>
          <%= simple_format(contact.message) %>
        </p>
        <% if contact.image_url != nil %>
          <p class="text-center">
            <%= link_to contact.image_url, "data-lightbox": contact.image_url do %>
              <%= image_tag contact.image_url,size:"150x150", class:"img"%>
            <% end %>
          </p>
        <% end %>
      </div>
      <div class="group-chat-icon-owner text-center">
        <%= image_tag contact.member.get_profile_image, size:"50x50", class: "group-chat-icon" %><br>
        <%= contact.member.name %>
      </div>
    </div>
  <% else %>
    <div class="row group-chat-box">
      <div class="group-chat-icon-others text-center">
        <%= image_tag 'admin.png', size:"50x50", class: "group-chat-icon" %><br>
        管理者
      </div>
      <div class="group-chat-content-others">
        <%= contact.created_at.strftime('%Y/%m/%d') %>
        <p>
          <%= simple_format(contact.message) %>
        </p>
        <% if contact.image_url != nil %>
        <p class="text-center">
          <%= link_to contact.image_url, "data-lightbox": contact.image_url do %>
            <%= image_tag contact.image_url,size:"150x150", class:"img"%>
          <% end %>
        </p>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>