<div class="container">
  <div class="row justify-content-center">
    <!--グループタグ絞り込み-->
      <div class= "col-md-4 search-tag">
        <%= form_with url: groups_path, local: true, method: :get do |f| %>
          <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
          {
            prompt: 'タグで絞り込み',
            class: "form-control tags-select",
            onchange: 'submit(this.form);'
          }
          %>
        <% end %>
      </div>
  </div>
  <div class="row members-card-box mx-auto" style="width:100%">
    <% @groups.each do |group| %>
      <div class="col-md-3 mb-3">
        <div class="card h-100">
          <%= link_to group_path(group), class: "link-card" do %>
            <p class="mx-auto my-2" style="text-align:center;"><%= image_tag group.get_image, class: "card-img-top" %></p>
            <p class="text-center card-member-name"><%= group.name %></p>
            <p class="text-center mt-3">
              <% group.tags.each do |tag| %>
                <span class="badge badge-info"><%= tag.name %></span><br>
              <% end %>
            </p>
          <% end %>
          <p class="text-center">
            <% if group.owner_id == current_member.id %>
              <%= link_to "編集", edit_group_path(group), class: "btn btn-sm btn-outline-success" %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= paginate @groups %>
<span id="new">
  <%= link_to new_group_path, class: "btn" do %>
    <i class="fas fa-plus-circle fa-5x new-btn" style="color:steelblue;"></i>
  <% end %>
</span>

