<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <table class="table mx-auto">
        <thead>
          <tr>
            <th></th>
            <th>グループ名</th>
            <th>紹介</th>
            <th>タグ</th>
            <th>メンバー</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
            <tr>
              <td>
                <%= link_to group_path(group) do %>
                  <%= image_tag group.get_image, size:"65x65" %>
                <% end %>
              </td>
              <td>
                <%= link_to group_path(group) do %>
                  <%= group.name %>
                <% end %>
              </td>
              <td><%= group.introduction %></td>
              <td>
                <% group.tags.each do |tag| %>
                  <span class="badge badge-info"><%= tag.name %></span><br>
                <% end %>
              </td>
              <td class="text-center"><%= group.members.count %></td>
              <% if group.owner_id == current_member.id %>
                <td>
                  <%= link_to "編集", edit_group_path(group), class: "btn btn-sm btn-outline-success" %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p><%= paginate @groups %></p>
    </div>
  </div>
</div>
<span id="new">
  <%= link_to new_group_path, class: "btn" do %>
    <i class="fas fa-plus-circle fa-5x new-btn" style="color:steelblue;"></i>
  <% end %>
</span>