<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>グループ名</th>
            <th>紹介</th>
            <th>タグ</th>
            <th>メンバー</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= image_tag @group.get_image, size:"120x120" %>
            </td>
            <td><%= @group.name %></td>
            <td><%= @group.introduction %></td>
            <td>
              <% @group.tags.each do |tag| %>
                <span class="badge badge-info"><%= tag.name %></span>
              <% end %>
            </td>
            <td>
              <% @group.members.each do |member| %>
                <%= member.name %>
              <% end %>
            </td>
            <td>
              <% if @group.members.include?(current_member) %>
                <%= link_to "グループを退会", group_path(@group), method: :delete, class: "btn btn-danger" %>
              <% else %>
                <%= link_to "グループに参加", group_join_path(@group), class: "btn btn-info" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row justify-content-center">
        <% if @group.members.include?(current_member) %>
          <%= link_to "グループチャット", group_chats_path(@group), class: "btn btn-outline-primary" %>
        <% end %>
      </div>
      <div class="row mt-5 justify-content-center">
        <% if @group.owner_id == current_member.id %>
          <%= link_to "編集", edit_group_path(@group), class: "btn btn-outline-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>