<div class="container">
  <%= link_to "＜ コミュニティへ戻る", groups_path %>
  <div class="row justify-content-center">
    <div class="col-md-10 text-center">
      <h2><%= @group.name %></h2>
      <p><%= @group.introduction %></p>
      <div class="row justify-content-center mb-3">
        <div class="col-md-3">
          <% if @group.members.include?(current_member) %>
            <%= link_to "グループチャット", group_chats_path(@group), class: "btn btn-lg btn-primary" %>
          <% end %>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-md-3 mr-2">
          <% unless @group.owner_id == current_member.id %>
            <% if @group.members.include?(current_member) %>
              <%= link_to "グループを退会", group_path(@group), method: :delete, class: "btn btn-outline-danger" %>
            <% else %>
              <%= link_to "グループに参加", group_join_path(@group), class: "btn btn-info" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row members-card-box mx-auto group-member-index">
        <% @members.each do |member| %>
          <% if member.is_deleted != true %>
            <div class="col-md-2 mb-3">
              <%= link_to member_path(member) do %>
                <%= image_tag member.get_profile_image, size:"80x80", style:"border-radius:50%;" %><br>
                <%= member.name %>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <%= paginate @members %>
      </div>
    </div>
  </div>
</div>