<div class="container">
  <%= link_to "＜ コミュニティへ戻る", groups_path %>
  <div class="row justify-content-center">
    <div class="col-md-10 text-center">
      <h2><%= @group.name %></h2>
      <p><%= @group.introduction %></p>
      <div class="row justify-content-end">
        <div class="col-md-3 mr-2">
          <% unless @group.owner_id == current_member.id %>
            <% if @group.members.include?(current_member) %>
              <%= link_to "グループを退会", group_path(@group), method: :delete, class: "btn btn-danger" %>
            <% else %>
              <%= link_to "グループに参加", group_join_path(@group), class: "btn btn-info" %>
            <% end %>
          <% end %>
        </div>
        <div class="col-md-3 mr-3">
          <% if @group.members.include?(current_member) %>
            <%= link_to "グループチャット", group_chats_path(@group), class: "btn btn-outline-primary" %>
          <% end %>
        </div>
      </div>
      <div class="row justify-content-center group-member-index">
        <% @members.each do |member| %>
          <% unless member.email == "guest@example.com" %>
            <div class="col-md-3 mb-3">
              <div class="card h-100">
                <%= link_to member_path(member), class: "link-card" do %>
                  <p class="mx-auto my-2" style="text-align:center;"><%= image_tag member.get_profile_image, class: "card-image img-fluid" %></p>
                  <p class="text-center card-member-name"><%= member.name %></p>
                  <p class="text-center mt-3">
                    <% member.tags.each do |tag| %>
                      <span class="badge badge-info"><%= tag.name %></span><br>
                    <% end %>
                  </p>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
        <%= paginate @members %>
      </div>
    </div>
  </div>
</div>