<div class="container">
  <div class="row justify-content-center">
    <h2>会員情報編集</h2>
  </div>
  <div class="row">
    <div class="col-8 mx-auto">
      <%= form_with model: @member, url: admin_member_path(@member), method: :patch, local: true do |f| %>
        <div class="form-group">
          <%= f.label :名前 %>
          <%= f.text_field :name %>
        </div>
        <div class="form-group">
          <%= f.label :紹介文 %>
          <%= f.text_area :introduction %>
        </div>
        <div class="form-group">
          <%= f.label :画像 %>
          <%= f.file_field :profile_image, accept: "image/*" %>
        </div>
        <div class="form-group">
          <%= f.label :会員ステータス %>
          <div>
            <%= f.radio_button :is_deleted, true %>
            <%= f.label :is_deleted, '退会', value: true %>
          </div>
          <div>
            <%= f.radio_button :is_deleted, false %>
            <%= f.label :is_deleted, '会員', value: false %>
          </div>
        </div>
        <div class="row justify-content-around">
          <div class="form-group">
            <%= f.submit "変更する", class: "btn btn-outline-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>