<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'admin/members/member_info', member: @member %>
    </div>
    <div class="col-md-9">
      <!--タブメニュー-->
      <ul class="tab-list list-unstyled">
        <li class="tab tab-active">朝</li>
        <li class="tab">昼</li>
        <li class="tab">夕</li>
        <li class="tab">間食</li>
      </ul>
      <div class="tabbox-contents">
        <div class="tabbox box-show">
          <%= render partial: 'admin/menus/index', locals: {menus: @morning_menus, param_name: 'morning_menus', tab: 1} %>
        </div>
        <div class="tabbox">
          <%= render partial: 'admin/menus/index', locals: {menus: @noon_menus, param_name: 'noon_menus', tab: 2} %>
        </div>
        <div class="tabbox">
          <%= render partial: 'admin/menus/index', locals: {menus: @evening_menus, param_name: 'evening_menus', tab: 3} %>
        </div>
        <div class="tabbox">
          <%= render partial: 'admin/menus/index', locals: {menus: @snack_menus, param_name: 'snack_menus', tab: 4} %>
        </div>
      </div>
    </div>
  </div>
</div>