<table class="table table-borderless">
  <tr>
    <td>
      <strong>
        <%= link_to member_followings_path(member) do %>
          <%= member.followings.count %> フォロー
        <% end %>
      </strong>
    </td>
  </tr>
  <tr>
    <td>
      <strong>
        <%= link_to member_followers_path(member) do %>
          <%= member.followers.count %> フォロワー
        <% end %>
      </strong>
    </td>
  </tr>
</table>
<div class="row justify-content-center">
  <% unless member == current_member || member.email == "guest@example.com" %>
    <% if current_member.following?(member) %>
      <%= link_to "フォロー外す", member_relationships_path(member), method: :delete, remote: true, class: "btn btn-outline-danger" %>
    <% else %>
      <%= link_to "フォローする", member_relationships_path(member), method: :post, remote: true, class: "btn btn-outline-success" %>
    <% end %>
  <% end %>
</div>
