<div class="form-group">
  <%= f.label :"日付", class: "col-3 form-label" %>
  <%= f.date_select :date, class: "col-5" %>
</div>
<div class="form-group">
  <%= f.label :"内容", class: "col-3 form-label" %>
  <%= f.text_area :body, class: "col-5" %>
</div>
<div class="form-group">
  <%= f.label :"画像", class: "col-3 form-label" %>
  <%= f.file_field :menu_image, class: "col-5", accept: 'image/*' %>
</div>
<div class="form-group">
  <%= f.label :"タグ", class: "col-3 form-label" %>
  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
    <div class="form-check">
      <%= tag.label class: "form-check-label" do %>
        <%= tag.check_box class: "form-check-input" %>
        <%= tag.text %>
      <% end %>
    </div>
  <% end %>
</div>