<% menus.each do |menu| %>
  <div class="col-md-4 mb-2 text-center menus_item">
    <%= link_to menu_path(menu), class: "img-fluid" do %>
      <%= image_tag menu.menu_image, size:"200x150" %><br>
      <%= menu.member.name %><br>
      <%= menu.date %>
    <% end %>
    <div>
      <span id="favorite_buttons_<%= menu.id %>">
        <%= render "public/favorites/favorites", menu: menu %>
      </span>
      <span>
        <%= link_to menu_path(menu) do %>
          <i class="fas fa-comment fa-2x ml-3 mr-1" style="color:lightsteelblue;"></i><%= menu.menu_comments.count %>
        <% end %>
      </span>
    </div>
    <div>
      <% menu.tags.each do |tag| %>
        <span class="badge badge-info"><%= tag.name %></span><br>
      <% end %>
    </div>
  </div>
<% end %>

<%# param_nameで現在のタブのページネーションを使うように指定している %>
<%# params: {tab :tab}でGetparameterを付与している %>
<%= paginate menus, param_name: param_name, params: {tab: tab} %>