<div class="col-9">
  <div class="row">
    <div class="col-3 ml-auto text-center">
      <%= link_to new_menu_path, class: "btn" do %>
        <i class="fas fa-plus-circle fa-4x" style="color:lavender;"></i>
      <% end %>
    </div>
  </div>
  <% menus.each do |menu| %>
    <div class="col-3 mx-3 text-center menus_item">
      <%= link_to menu_path(menu) do %>
        <%= image_tag menu.menu_image, size:"200x150" %><br>
        <%= menu.member.name %><br>
        <%= menu.date %>
      <% end %>
      <div>
        <span id="favorite_buttons_<%= menu.id %>">
          <%= render "public/favorites/favorites", menu: menu %>
        </span>
        <span>
          <%= link_to menu_path(menu) do %>
            <i class="fas fa-comment fa-2x ml-3 mr-1" style="color:lightsteelblue;"></i><%= menu.menu_comments.count %>
          <% end %>
        </span>
      </div>
      <div>
        <% menu.tags.each do |tag| %>
          <span class="badge badge-info"><%= tag.name %></span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>