<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'public/members/info', member: current_member %>
      <!--献立タグ絞り込み-->
      <div class= "row justify-content-center search-tag">
        <%= form_with url: menus_path, local: true, method: :get do |f| %>
          <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
          {
            prompt: 'タグで絞り込み',
            class: "form-control tags-select",
            onchange: 'submit(this.form);'
          }
          %>
        <% end %>
      </div>
      <div class="row justify-content-center">
        <%= render 'public/searches/search' %>
      </div>
    </div>
    <div class="col-9">
      <!--タブメニュー-->
      <ul class="tab-list list-unstyled">
        <li class="tab tab-active">朝</li>
        <li class="tab">昼</li>
        <li class="tab">夕</li>
      </ul>
      <div class="tabbox-contents">
        <div class="tabbox box-show justify-content-center">
          <%= render 'index', menus: @morning_menus %>
          <%= paginate @morning_menus %>
        </div>
        <div class="tabbox">
          <%= render 'index', menus: @noon_menus %>
          <%= paginate @noon_menus %>
        </div>
        <div class="tabbox">
          <%= render 'index', menus: @evening_menus %>
          <%= paginate @evening_menus %>
        </div>
      </div>
    </div>
  </div>
</div>
<span id="new">
  <%= link_to new_menu_path, class: "btn" do %>
    <i class="fas fa-plus-circle fa-5x new-btn" style="color:steelblue;"></i>
  <% end %>
</span>
