<div class="container">
  <div class="row justify-content-around">
    <div class="col-5">
      <%= image_tag @menu.menu_image, size:"400x350", class: 'img-fluid' %>
    </div>
    <div class="col-6">
      <div class="row justify-content-center">
        <%= link_to member_path(@menu.member) do %>
          <%= @menu.member.name %>
        <% end %>
        さんの
        <%= @menu.time_zone_i18n %>ごはん
        (<%= @menu.date %>)
      </div>
      <div class="row">
        <% @menu.tags.each do |tag| %>
          <span class="badge badge-info mr-1"><%= tag.name %></span>
        <% end %>
      </div>
      <div class="row">
        <div class="col-12 mx-auto">
          <!--内容を改行表示できる-->
          <%= simple_format(@menu.body) %>
        </div>
      </div>

      <div class="row justify-content-end">
        <div class="col-3">
          <% if @menu.member == current_member %>
            <%= link_to "編集", edit_menu_path(@menu), class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!--コメント非同期部分-->
  <div class="row justify-content-around">
    <div class="col-3 text-center mt-5">
      <%= form_with model: [@menu, @menu_comment], url: menu_menu_comments_path(@menu), method: :post, local: false do |f| %>
        <%= f.text_area :comment, rows: "5" %><br>
        <%= f.submit "コメントする", class: "btn btn-info" %>
      <% end %>
    </div>
    <div id="menu_comments_area", class="col-7">
      <%= render 'public/menu_comments/menu_comments', menu: @menu %>
    </div>
  </div>
</div>