<div class="container">
  <div class="row justidy-content-center">
    <div class="col-md-5 text-center">
      <%= image_tag @menu.get_menu_image(400,350), class: 'img-fluid' %>
    </div>
    <div class="col-md-7 menu-content-box">
      <div class="row justify-content-center">
        <%= link_to member_path(@menu.member) do %>
          <%= @menu.member.name %>
        <% end %>
        さんの
        <%= @menu.time_zone_i18n %>ごはん
        (<%= @menu.date %>)
      </div>
      <p>
        <% @menu.tags.each do |tag| %>
          <span class="badge badge-info ml-2"><%= tag.name %></span>
        <% end %>
      </p>
      <p>
        <div class="col-md-12 mx-auto mt-3">
          <!--内容を改行表示できる-->
          <%= simple_format(@menu.body) %>
        </div>
      </p>
      <p class="menu-edit">
        <% if @menu.member == current_member %>
          <%= link_to "編集", edit_menu_path(@menu) %>
        <% end %>
      </p>
    </div>
  </div>
  <!--コメント非同期部分-->
  <div class="row justify-content-center">
    <div class="col-md-5 text-center mt-5">
      <%= form_with model: [@menu, @menu_comment], url: menu_menu_comments_path(@menu), method: :post, local: false do |f| %>
        <%= f.text_area :comment, rows: "5" %><br>
        <%= f.submit "コメントする", class: "btn btn-info" %>
      <% end %>
    </div>
    <div id="menu_comments_area", class="col-md-7 mt-3">
      <%= render 'public/menu_comments/menu_comments', menu: @menu %>
    </div>
  </div>
</div>