<table class="table">
  <% chats.each do |chat| %>
    <% if chat.member.id == current_member.id %>
      <tr class="justify-content-center">
        <th>
          <%= link_to member_path(chat.member_id) do %>
            <%= image_tag chat.member.get_profile_image, size:"50x50", class: "group-chat-icon" %><br>
            <%= chat.member.name %>
          <% end %>
        </th>
        <td class="group-chat-content">
          <%= chat.created_at.strftime('%Y/%m/%d') %>
          <p>
            <!--メッセージ改行表示できる-->
            <%=safe_join(chat.message.split("\n"),tag(:br))%>
          </p>
        </td>
        <td>
          <%= link_to "削除", group_chat_path(chat.group.id, chat), method: :delete, remote: true, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% else %>
      <tr class="justify-content-center">
        <td class="group-chat-content">
          <%= chat.created_at.strftime('%Y/%m/%d') %>
          <p>
            <!--メッセージ改行表示できる-->
            <%=safe_join(chat.message.split("\n"),tag(:br))%>
          </p>
        </td>
        <th>
          <%= link_to member_path(chat.member_id) do %>
            <%= image_tag chat.member.get_profile_image, size:"50x50", class: "group-chat-icon" %><br>
            <%= chat.member.name %>
          <% end %>
        </th>
      </tr>
    <% end %>
    <% if chat.image_url != nil %>
      <tr>
        <%= image_tag chat.image_url %>
      </tr>
    <% end %>
  <% end %>
</table>
