<% chats.each do |chat| %>
<!--会員のチャットコメント-->
  <% unless chat.member_id.nil? %>
  <!--コメントした会員＝自分の場合-->
    <% if chat.member_id == current_member.id %>
      <div class="row group-chat-box justify-content-end">
        <div class="group-chat-content-owner">
          <%= chat.created_at.strftime('%Y/%m/%d') %>
          <p>
            <!--メッセージ改行表示できる-->
            <%= simple_format(chat.message) %>
          </p>
          <% if chat.image_url != nil %>
            <p class="text-center">
              <%= link_to chat.image_url, "data-lightbox": chat.image_url do %>
                <%= image_tag chat.image_url,size:"150x150", class:"img" %>
              <% end %>
            </p>
          <% end %>
          <p class="group-chat-content-owner-delete text-right">
            <%= link_to "削除", group_chat_path(chat.group.id, chat), method: :delete, remote: true %>
          </p>
        </div>
        <div class="group-chat-icon-owner text-center">
          <%= link_to member_path(chat.member_id) do %>
            <%= image_tag chat.member.get_profile_image, size:"50x50", class: "group-chat-icon" %><br>
            <%= chat.member.name %>
          <% end %>
        </div>
      </div>
    <!--コメントした会員＝他メンバーの場合-->
    <% else %>
    <div class="row group-chat-box">
      <div class="group-chat-icon-others text-center">
        <%= link_to member_path(chat.member_id) do %>
          <%= image_tag chat.member.get_profile_image, size:"50x50", class: "group-chat-icon" %><br>
          <%= chat.member.name %>
        <% end %>
      </div>
      <div class="group-chat-content-others">
        <%= chat.created_at.strftime('%Y/%m/%d') %>
        <p>
          <!--メッセージ改行表示できる-->
          <%= simple_format(chat.message) %>
        </p>
        <% if chat.image_url != nil %>
          <p class="text-center">
            <%= link_to chat.image_url, "data-lightbox": chat.image_url do %>
              <%= image_tag chat.image_url,size:"150x150", class:"img"%>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
    <% end %>
  <!--管理者のチャットコメント-->
  <% else %>
    <div class="row group-chat-box">
      <div class="group-chat-icon-others text-center">
          <%= image_tag 'admin.png', size:"50x50", class: "group-chat-icon" %><br>
          管理者
      </div>
      <div class="group-chat-content-others">
        <%= chat.created_at.strftime('%Y/%m/%d') %>
        <p>
          <!--メッセージ改行表示できる-->
          <%= simple_format(chat.message) %>
        </p>
        <% if chat.image_url != nil %>
          <p>
            <div class="group-chat-content-image text-center">
              <%= image_tag chat.image_url, size:"120x120" %>
            </div>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>


