<div class="row justify-content-center info-icon-box">
  <div class="mx-auto mb-3">
    <%= image_tag member.get_profile_image, size:"150x150" %>
  </div>
    <!--会員（自分）のいいね一覧-->
    <% if member.id == current_member.id %>
      <%= link_to member_favorites_path(current_member), class: "btn favorite-index" do %>
        <i class="fas fa-hand-holding-heart fa-3x"></i>
      <% end %>
    <% end %>
</div>
<table class="table">
  <tr>
    <th>name</th>
    <td><%= member.name %></td>
  </tr>
  <tr>
    <th>intro</th>
    <td><%= member.introduction %></td>
  </tr>
</table>
<div id="relationships">
  <%= render 'public/relationships/relationships', member: member %>
</div>
<% if member.email != "guest@example.com" %>
  <div class="row mt-3">
    <%= link_to edit_member_path(member), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  </div>
<% end %>