<div class="container px-3 py-3 info-box">
  <div class="row justify-content-center info-icon-box">
    <div class="mx-auto mb-1">
      <%= image_tag member.get_profile_image, size:"150x150" %>
    </div>
    <div class="text-center mb-1">
      <% member.tags.each do |tag| %>
        <span class="badge img-fluid badge-primary"><%= tag.name %></span><br>
      <% end %>
    </div>
  </div>
  <table class="table">
    <tr>
      <th>name</th>
      <td style="font-weight:bold;"><%= member.name %></td>
    </tr>
    <tr>
      <th>intro</th>
      <% if member.is_deleted == true %>
        <td class="deleted-member">この会員は退会しています</td>
      <% else %>
        <td><%= simple_format(member.introduction) %></td>
      <% end %>
    </tr>
  </table>
  <div id="relationships">
    <%= render 'public/relationships/relationships', member: member %>
  </div>

</div>
<div class="container">
  <% if member.id == current_member.id %>
    <div class="row mt-3 info-box-button">
      <%= link_to member_favorites_path(current_member), class: "btn btn-block favorite-index" do %>
        <i class="fas fa-heart"></i>
      <% end %>
    </div>
  <% end %>
  <% if member.email != "guest@example.com" %>
    <div class="row mt-3 info-box-button">
      <%= link_to edit_member_path(member), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
    </div>
  <% end %>
</div>