<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'info', member: current_member %>
    </div>
    <div class="col-md-9">
      <div class="row justify-content-center">
        <h4>お気に入り</h4>
      </div>
      <div class="container">
        <div class="row favorite-menu-index justify-content-center">
          <% @favorite_menus.each do |menu| %>
            <div class="col-md-4 mb-3">
              <div class="text-center card h-100">
                <%= link_to menu_path(menu), class: "link-card" do %>
                  <%= image_tag menu.get_menu_image(200,200), class: "img-fluid" %>
                <% end %>
                <%= link_to menu_path(menu), class: "link-card" do %>
                    <div class="card-title">
                      <%= menu.member.name %><br>
                      <%= menu.date %>
                    </div>
                <% end %>
                <div class="card-title">
                  <div>
                    <span id="favorite_buttons_<%= menu.id %>">
                      <%= render "public/favorites/favorites", menu: menu %>
                    </span>
                    <span>
                      <%= link_to menu_path(menu) do %>
                        <i class="fas fa-comment fa-2x ml-3 mr-1" style="color:lightsteelblue;"></i><%= menu.menu_comments.count %>
                      <% end %>
                    </span>
                  </div>
                  <div>
                    <% menu.tags.each do |tag| %>
                      <span class="badge badge-info"><%= tag.name %></span><br>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <%= paginate @favorite_menus %>
        </div>
      </div>
    </div>
  </div>
</div>