<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/members/info', member: current_member %>

      <div class="row justify-content-center">
        <%= render 'public/searches/search' %>
      </div>
      <!--会員タグ絞り込み-->
      <div class= "row justify-content-center search-tag">
        <%= form_with url: members_path, local: true, method: :get do |f| %>
          <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
          {
            prompt: 'タグで絞り込み',
            class: "form-control tags-select",
            onchange: 'submit(this.form);'
          }
          %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8 offset-1">
      <%= render 'index', members: @members %>
      <p><%= paginate @members %></p>
    </div>
  </div>
</div>
