<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'info', member: @member %>
    </div>
    <div class="col-md-9">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <%= render 'public/searches/search' %>
        </div>
        <!--献立タグ絞り込み-->
        <div class= "col-md-4 search-tag">
          <%= form_with url: member_path(@member), local: true, method: :get do |f| %>
            <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
            {
              prompt: 'タグで絞り込み',
              class: "form-control tags-select",
              onchange: 'submit(this.form);'
            }
            %>
          <% end %>
        </div>
      </div>
      <!--タブメニュー-->
      <ul class="tab-list list-unstyled">
        <li class="tab tab-active">朝</li>
        <li class="tab">昼</li>
        <li class="tab">夕</li>
        <li class="tab">間食</li>
      </ul>
      <div class="tabbox-contents">
        <div class="tabbox box-show justify-content-center">
          <%= render partial: 'public/menus/index', locals: {menus: @morning_menus, param_name: 'morning_menus', tab: 1} %>
        </div>
        <div class="tabbox justify-content-center">
          <%= render partial: 'public/menus/index', locals: {menus: @noon_menus, param_name: 'noon_menus', tab: 2} %>
        </div>
        <div class="tabbox justify-content-center">
          <%= render partial: 'public/menus/index', locals: {menus: @evening_menus, param_name: 'evening_menus', tab: 3} %>
        </div>
        <div class="tabbox justify-content-center">
          <%= render partial: 'public/menus/index', locals: {menus: @snack_menus, param_name: 'snack_menus', tab: 4} %>
        </div>
      </div>
      
    </div>
  </div>
</div>
<span id="new">
  <%= link_to new_menu_path, class: "btn" do %>
    <i class="fas fa-plus-circle fa-5x new-btn" style="color:steelblue;"></i>
  <% end %>
</span>
