<div class="col-9">
  <div class="row">
  <% menus.each do |menu| %>
    <div class="col-3 mx-3 menus_item">
      <%= link_to admin_menu_path(menu) do %>
        <%= image_tag menu.menu_image, size:"200x150" %><br>
        <%= menu.member.name %><br>
        <%= menu.date %>
      <% end %>
      <p>
        <span>
          <i class="fas fa-heart fa-2x" style="color:palevioletred;"></i>
          <%= menu.favorites.count %>
        </span>
        <span>
          <%= link_to admin_menu_path(menu) do %>
            <i class="fas fa-comment fa-2x ml-3 mr-1" style="color:lightsteelblue;"></i><%= menu.menu_comments.count %>
          <% end %>
        </span>
      </p>
    </div>
  <% end %>
  </div>
</div>