<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'admin/members/info' %>
    </div>
    <div class="col-9">
      <!--タブメニュー-->
      <ul class="tab-list list-unstyled">
        <li class="tab tab-active">朝</li>
        <li class="tab">昼</li>
        <li class="tab">夕</li>
        <li class="tab">間食</li>
      </ul>
      <div class="tabbox-contents">
        <div class="tabbox box-show justify-content-center">
          <%= render 'index', menus: @morning_menus %>
        </div>
        <div class="tabbox">
          <%= render 'index', menus: @noon_menus %>
        </div>
        <div class="tabbox">
          <%= render 'index', menus: @evening_menus %>
        </div>
        <div class="tabbox">
          <%= render 'index', menus: @snack_menus %>
        </div>
      </div>
    </div>
  </div>
</div>
