<div class="container">
  <div class="row justify-content-center">
    <h2>ログイン</h2>
  </div>
  <div class="row">
    <div class="col-6 mx-auto">
      <%= form_with model: @member, url: member_session_path(@member) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <源">
          <%= f.submit "Log in" %>
        </div>
      <% end %>

      <%= render "public/shared/links" %>
    </div>
  </div>
</div>
